<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/uikit/2.18.0/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/uikit/2.18.0/css/components/sticky.min.css">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script type="text/javascript" src="http://cdn.bootcss.com/foundation/5.5.1/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/jquery.toc.js">
    </script>
    <script type="text/javascript" src="http://cdn.bootcss.com/uikit/2.18.0/js/uikit.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/uikit/2.18.0/js/components/sticky.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $("table").addClass("uk-table uk-table-striped uk-table-hover") ;
      });
    </script>
  </head>

  <body>
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <div data-uk-sticky>
          <nav class="uk-navbar">
            <a href="#left-canvas" class="uk-navbar-toggle" data-uk-offcanvas></a>
            <a href="#right-canvas" class="uk-navbar-toggle uk-navbar-flip" data-uk-offcanvas></a>
            <div class="uk-navbar-content uk-navbar-center">
              {{site.name}} {% if page.title %} - {{ page.title }} {% endif %}
            </div>
          </nav>
        </div>
        <div id="left-canvas" class="uk-offcanvas">
          <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
              <li class="uk-nav-header">Documents</li>
              {% for note in site.notes %}
              <li>
                <a href="{{ site.baseurl }}{{ note.url }}" title="{{ note.title }}">{{ note.title | truncate: 20}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div id="right-canvas" class="uk-offcanvas">
          <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
            <ul class="uk-nav uk-nav-offcanvas">
              <li class="uk-nav-header">RSS</li>
              {% for rss in site.data.rss %}
                <li><a href="{{ rss.link }}" target="blank">{{ rss.name }}</a></li>
              {% endfor %}
              <li><a href="{{ site.baseurl }}/feed.xml"><i class="uk-icon-rss"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="uk-width-5-10 uk-container-center">
          {{ content }}
        </div>
      </div>
      <div class="uk-width-1-1">
        <div class="uk-container-center uk-width-5-10">
          {% include svg-icons.html %}
        </div>

        {% include analytics.html %}
      </div>
    </div>
  </body>
</html>
